/* Fonts family */

$font-regular: 'Roboto', sans-serif;
$font-size: 16px;
$font-light: 300;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
/* -- */

$border-radius: 5px;
/* -- */

/*  box-shadow  */

$box-shadow: 1.5px 2.598px 10px 0;
$box-light-shadow:0 2px 3px 0px;

/* -- */
